.err {
  color: red;
    }

body{
    text-align: left;
    }

p{
    font-family: 'Lato', sans-serif;
    }

header {
    color: white;
    width: auto;
    background: url(../img/typewriter.jpg) black no-repeat;
    background-size: 100% ;
    text-align: center;
    }

header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    padding: 8%;
    }

main h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    margin: 0.9em ;
    }

main h2 {
    font-size: 2em;
    font-family: 'Lato', sans-serif, bold;
    margin: 0.5em 0em 0.5em 0em;
    }
footer {
    background-color: black;
    color: white;
    padding: 1.5em;
    text-align: center;
    }

 #login {
    margin: 1em auto;
    padding: .5em;
    width: 500px; 
    font-family: 'Lato', sans-serif, bold;
    text-align: center;
    }

#loginb, #giveup{
    color: white;
    width: 80px;
    height: 30px;
    background-color: black;
    font-family: 'Lato', sans-serif, bold;
    }

/* Mobile*/ 

@media only screen and (max-width: 499px){
    #menu {
        visibility: hidden;
        margin: 0em;
        }
    
    #mobilenav{
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        }
    
    #mobilenav li{
        display: inline;
        padding: 8%;
        }
    
    #mobilenav li a img {
        width: 10%;
        }
    
    main h2 {
        font-size: 2em;
        font-family: 'Poiret One', cursive;
        }    
    
    header {
        color: white;
        width: auto;
        background: black;
        }
    body{
        text-align: center;
    }
    
    #frontpic{
        width: 300px;
        }
    
    footer {
        background-color: black;
        color: white;
        padding: 1em;
        margin: 0em 0em 1em 0em;
        }
    
    .some{
        padding: 3%;
        width:  2em;
        }
    
    #login {
        width: 200px; ;
        }

}
/* Tablet*/ 
@media only screen and (min-width: 500px){
   #mobilenav li a img{
        visibility: hidden;
        width: 0%;
        }
    
    #login {
        width: 500px; 
        }

    #menu {
        margin: 0.8em;
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 1.7em;
        }

    #menu li {
        background-color: white;
        display: inline;
        list-style: none;
        margin: 0.8em;
        color: black;
        }

    #menu li a{
        text-decoration: none;
        color: black;
        }

    #wrapper{
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
        }

    #frontpic {
        width: 500px;
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 og tidligere */
        }
    body{
        text-align: center;
    }
    #mydiv {
        margin: 1em;
        min-height: 200px;
        }
    .some{
        width: 5%;
        padding: 2%;
        }
}
    
/* desktop */
@media only screen and (min-width: 1300px){

    #login {
        width: 500px; 
        }

    #menu {
        margin: 1em;
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 2em;
        }

    #menu li {
        background-color: white;
        display: inline;
        list-style: none;
        margin: 1em;
        color: black;
        }

    #menu li a{
        text-decoration: none;
        color: black;
        }

    #wrapper{
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
        }

    #frontpic {
        width: inherit;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        }
    #mydiv {
        margin: 0 1em;
        min-height: 200px;
        }
    .some{
        width: 5%;
        padding: 2%;
        }
}